.todoItem {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 1200px;
    padding: 10px;
    margin: 10px auto;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.button {
    width: 50px;
    margin: 0px 3px;
}

.done {
    text-decoration: line-through;
    font-weight: bold;
    color: #999;
}

.notDone {
    text-decoration: none;
    font-weight: bold;
    color: #333;
}